<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="myLogger"
             type="BehaviorLibrarys.IncomingMessageLoggerBehaviorExtension, BehaviorLibrarys"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NonSoapInspector">
          <myLogger logFolder="d:\temp" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Lib.ServiceImpl.PublishService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpconfig"
                  contract="Lib.ServiceContracts.IPublishService" behaviorConfiguration="NonSoapInspector"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5000/PublishService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>

      <!--<customBinding>
        <binding name="MySessionBinding">
          <transactionFlow />
          <binaryMessageEncoding  />
          <reliableSession  maxPendingChannels="20" maxRetryCount="30" 
                            inactivityTimeout="00:10:00"/>
          <tcpTransport listenBacklog="400" maxPendingConnections="1000" maxPendingAccepts="10" />
        </binding>
      </customBinding>-->


      <netTcpBinding>
        <binding name="tcpconfig" maxConnections="400"
                 transactionFlow="false" transferMode="Buffered" listenBacklog="400"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 closeTimeout="00:30:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:30:00"
                 sendTimeout="00:30:00">
          <reliableSession enabled="true"
                           inactivityTimeout="00:10:00"
                           ordered="true"/>
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647 "
                        maxArrayLength="2147483647 "
                        maxBytesPerRead="2048"
                        maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>


  </system.serviceModel>


</configuration>